{% extends "./inc/base.html" %}


{% block conteudo %}

<h1>seus documentos</h1>

<table border='1'>
<thead>
    <tr>
        <th>Documento</th>
        <th>Ações</th>
    </tr>
</thead>

<tbody>
{% for documento in documentos %}
    <tr>
        <td>{{documento.nome}}</td>
        <td>
            <a href="compartilha_documento.php" 
             >compartilhar</a>
            <a href="edita_documento.php" 
                {% if not documento.editar  %} 
                    style="
                    pointer-events: none;
                    cursor: default;
                    color: gray;"

                {% endif %} > editar</a>
                
            <a href="exclui_documento.php" 
                {% if not documento.excluir  %} 
                    style="
                    pointer-events: none;
                    cursor: default;
                    color: gray;"

                {% endif %} >excluir</a>
        </td>

    </tr>
{% endfor %}
</tbody>

</table>
<h2><a href="novo_documento.php">Adicionar documentos</a></h2>



{% endblock %}